<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geovis14.awesomelocationaccuracytesterapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationClientMap"
            android:label="@string/title_activity_location_client_map" >
        </activity>
        <activity
            android:name=".LocationManagerMap"
            android:label="@string/title_activity_location_manager_map" >
        </activity>
    
    	<meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyAzXpl6FdovTrQ3JutipjD2j6D9gB1qkpE" />
    
     <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
     
    </application>

    

</manifest>
